*{
    background-color: #00ffa9;
}
.container {
    border: 2px solid;
    background-color: #e8f3ca;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;

}

/* first block  */
.name {
    text-align: center;
}

#det,
#pro {
    text-align: center;
    background-color: #00ffa9;
}

.container p {
    text-align: center;
    font-weight: bold;
}

.ima {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.ima a {
    text-decoration: none;
    color: #b12121;
    font-size: 23px;
}

.ima img {
    width: 11%;
    margin: 5px;
    border: 2px solid;
    padding: 1px;
    position: relative;
    left: 5%;
    border-radius: 10px;
}
.icon{
    font-size: 40px;
    margin-left: 272px;
}

/* second block  */
.main {
    width: 99%;
    border: 2px solid;
    margin: 1px 1px 1px;
    padding: 5px;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap


}

.box {
    width: 30%;
    height: 250px;
    border: 2px solid green;
    overflow: overlay;

}

/* education block  */
h3 {
    text-align: center;
    font-weight: bold;
    background-color: aquamarine;
}

table {
    margin: 2px 2px;
    width: 98%;
    height: 172px;
}

td {
    text-align: center;
    font-weight: bold;
}

th {
    color: blue;
    font-size: 20px;
}

/* Soft-Skill block  */
ul {
    list-style-type: disc;
}

li {
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: justify;

    margin-left: 45px;
}

/* third block  */
.main1 {
    width: 99%;
    border: 2px solid;
    display: inline-flex;
    margin: 1px 1px 1px;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#work {

    margin-bottom: 5px;
}

dt {
    font-size: 20px;
    font-weight: bold;
    color: blue;
    text-decoration: underline;
}

dd {
    font-size: 15px;
    font-weight: bold;
    color: #ff3400;
}

h2 {
    color: #00ff22;

}